{% extends "Blogapp/padre.html" %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block titulo %}
    SOBRE MI
{% endblock %}

{% block contenido %}
    
    <section>
        <div class="team-member" style="text-align: center;">
            <img class="mx-auto rounded-circle" src="{% static 'Blogapp\assets\img\20191216_113116.jpg' %}" alt="..." />
            <h4>Juan Ignacio Molina</h4>
            <p class="text-muted">Desarrollador</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/fuaninacio/" target="_blank" aria-label="Juan Molina instagram profile"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/JuaniMolina?tab=repositories" target="_blank" aria-label="Juan Molina github profile"><i class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/juan-ignacio-molina/" target="_blank" aria-label="Juan Molina linkedin profile"><i class="fab fa-linkedin-in"></i></a>
            <div>
                <p>
                    <br>
                    Mi nombre es Juan Ignacio Molina, vivo en tigre y me apasiona el mundo de la informatica y  la programacion! <br> Actulamente estoy teminando el curso de Python en Coderhouse (el cual recomiendo fervientemente), y tambien tengo conocimientos previos 
por haber cursado la carrera de programacion en la UTN. <br> Me gusta la musica y todo tipo de expresion artistica, siento que es lo que nos mueve a la creatividad! <br>
En este primer proyecto solo, los desafios fueron muchos y debo admitir que aprendi a lidiar con la frustracion de que se rompa algo, 
pero sobre todo me diverti mucho haciendolo. <br>
Mis agradecimientos a Franco por la buena onda, a mi tutor Facu y a mis compas que siempre me dieron una mano cuando surgia alguna duda! <br>
Si quieren charlar o conocerme un poco mas les dejo aca arriba mis redes! <br>
Espero se diviertan tanto como yo en este mundo infinito! <br> 
Saludos!

                </p>
            </div>
        </div>
    </section>
    
{% endblock %}