{% extends "Blogapp/padre.html" %}

{% load static %}

{% block titulo %}
    POSTEOS
    {{ mensaje }}
{% endblock %}

{% block contenido %}
    {% for posteo in posteos %}
        <li style="text-align: center; clear: both; list-style: none;"> 
            {{posteo.titulo}} - {{ posteo.subtitulo }} 
            <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="{% url 'mostrarPost' posteo.id %}"> Leer más... </a>
            <!-- <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="#"> Eliminar  </a>  -->
        </li>
    {% endfor %}
    <div style="text-align: right;">
        <a class="btn btn-primary btn-xm rounded-pill mt-5-1" href="{% url 'posteos' %}"> Volver </a>
    </div>
{% endblock %}