{% extends "Blogapp/padre.html" %}

{% load static %}

{% block titulo %}
    Nuevo POST
{% endblock %}

{% block contenido %} 
    <form id="postear" action="{% url 'nuevoPost' %}" method="POST"> {% csrf_token %} 
        <table>
            {{ form.as_table }}
        </table>
        
        <input class="btn btn-primary btn-xm rounded-pill mt-5" type="submit" value="Postear">
        <a class="btn btn-primary btn-xm rounded-pill mt-5" href="{% url 'posteos' %}"> Volver </a>
    </form>
    
{% endblock %}